<div class="card text-center">
  <h4 class="card-header">联系我们 Contact Us</h4>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6" *ngFor="let item of contacts">
        <div class="jumbotron">
          <h5>{{ item.name }}</h5>
          <div>
            <a href="tel:{{ item.phone }}">{{ item.phone }}</a>
          </div>
          <div>
            <a href="mailto:{{ item.email }}">{{ item.email }}</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="jumbotron">
          <h5>更多产品请关注微店: 韵逸轩茶业</h5>
          <p>微店链接:
            <a [href]="wdLink" target="_blank">{{ wdLink }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
