<div class="card text-center">
  <h4 class="card-header text-center">
    <span class="d-none d-sm-block">联系我们 Contact Us</span>
    <span class="row d-sm-none">
      <span class="col-12">联系我们</span>
      <span class="col-12">Contact Us</span>
    </span>
  </h4>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of contacts">
        <app-contact-card [contact]="item"></app-contact-card>
      </div>

      <div class="col-md-4">
        <div class="card wow fadeInLeft">
          <figure class="contact-avatar">
            <img class="card-img-top" [src]="wdIcon" [alt]="wdName">
          </figure>
          <div class="card-body">
            <h5 class="card-title">{{ wdName }}</h5>
            <p class="card-text">
              <fa-icon [icon]="faExternalLinkAlt"></fa-icon>&nbsp;
              <a [href]="wdLink" target="_blank">{{ wdId }}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
