<div class="container-fluid pt-3">
  <div class="card">
    <h4 class="card-header text-center">关于我们 About Us</h4>
    <img class="card-img-top" src="assets/img/tea/3.jpg" alt="中茶简介">
    <div class="card-body">
      <h2 class="card-title">中茶简介</h2>
      <article class="card-text">
        <p>【中茶牌普洱茶】1951年12月15日, "中茶"商标经中央私营企业局核准专用权, 是新中国最悠久的商标之一。2006年中国茶叶有限公司(注册商标: 中茶)经过国家商务部的审批, 被认定为第一批"中华老字号"。绿色"茶"字,
          表达"对自然与健康的向往和追求"; 红色"中"字象征生机勃勃的中华大地及"金色中华, 精品中茶"的产品定位和追求, 蕴含了中茶"根植中华大地, 奉献自然与健康"的理念。"茶"字笔划平直, "中"圆润有流动感, "茶"居中而"中"在外,
          寓意"刚正平直, 流转自如"的人文传统; "中"字互相连接成齿轮状, 意指传统茶叶的现代化, 并蕴意"中华茶文化, 饮誉世界、弘扬八方"。半个多世纪以来, 随着一箱箱中国茶叶漂洋越海, "中茶"品牌获得了海外经销商和消费者的高度认同和信赖,
          成为中国茶叶的象征。目前, 中茶系列茶叶在国内市场拥有广泛的市场号召力, 中茶牌普洱茶更是当之无愧的头号品牌。</p>
        <p>云南中茶, 前身是成立于1950年的中国茶业公司云南省分公司, 主要负责云南产区普洱茶、红茶、绿茶等特色产品的生产与加工。1951年12月15日, "中茶"牌商标注册, 中国茶叶行业第一个具有影响力的茶叶品牌诞生。1973年,
          以云茶公司及其下属昆明茶厂为主体, 在吸收、借鉴粤港茶叶加工工艺基础上, 首次在昆明研制成功普洱茶"熟茶"人工渥堆发酵工艺, 实现了普洱茶产业的革命性创新。1978年, 昆明茶厂组织制订普洱熟茶加工工艺并推广全省, 再次推动了中国普洱茶产业的发展。"中茶"普洱已经成为经典普洱茶的代名词,
          成为中国普洱传世经典的里程碑。"中茶"牌普洱茶的发展, 成为整个中国普洱茶产业的历程缩影。</p>
        <p>【韵逸轩·中茶汇】是中粮集团中茶公司机构授权经销商韵逸轩茶业的北美地区总代理。本店铺经营各档次的中茶产品, 所有产品经过权威认证, 确保正品, 假一赔十。</p>
      </article>
    </div>
  </div>
</div>
