<header>
  <app-header></app-header>
</header>

<article class="container-fluid" (window:resize)="adjustHeight()">
  <sn-scroll-spy-section id="top" class="row" for="nav-list">
    <div parallax [config]="parallaxConfig" class="fill-screen bg-img-1 text-center text-justify"
      [ngStyle]="customStyle">
      <div class="welcome-title pl-3 pr-3">
        <h2>从来佳茗似佳人</h2>
        <h3>Good tea is like an elegant lady</h3>
      </div>

      <div class="down-button">
        <a pageScroll class="btn" href="#products" aria-label="Go to the next section">
          <fa-icon [icon]="faArrowCircleDown" size="4x"></fa-icon>
        </a>
      </div>
    </div>
  </sn-scroll-spy-section>

  <sn-scroll-spy-section id="products" class="row content-filler" for="nav-list">
    <app-product-list></app-product-list>
  </sn-scroll-spy-section>

  <section class="row">
    <div class="fill-screen fixed-attachment bg-img-2" [ngStyle]="customStyle"></div>
  </section>

  <sn-scroll-spy-section id="aboutPuErh" class="row content-filler" for="nav-list">
    <app-about-pu-erh></app-about-pu-erh>
  </sn-scroll-spy-section>

  <section class="row">
    <div class="fill-screen fixed-attachment bg-img-3" [ngStyle]="customStyle"></div>
  </section>

  <sn-scroll-spy-section id="aboutUs" class="row content-filler" for="nav-list">
    <app-about-us></app-about-us>
  </sn-scroll-spy-section>

  <section class="row">
    <div class="fill-screen fixed-attachment bg-img-4" [ngStyle]="customStyle"></div>
  </section>

  <sn-scroll-spy-section id="contactUs" class="row content-filler" for="nav-list">
    <app-contact-us></app-contact-us>
  </sn-scroll-spy-section>
</article>
