<article class="container-fluid">
  <section class="card text-center">
    <h4 class="card-header">特别推荐 FEATURED</h4>
    <div class="card-body">
      <div class="row" *ngIf="featuredLoaded; else loadingBlock">
        <div class="col-lg-6 col-12" *ngFor="let featured of featuredProducts">
          <app-product-card [product]="featured"></app-product-card>
        </div>
      </div>
    </div>
  </section>

  <section class="card text-center">
    <h4 class="card-header">热卖商品 HOT</h4>
    <div class="card-body">
      <div class="row" *ngIf="hotLoaded; else loadingBlock">
        <div class="col-lg-6 col-12" *ngFor="let hot of hotProducts">
          <app-product-card [product]="hot"></app-product-card>
        </div>
      </div>
    </div>
  </section>

  <ng-template #loadingBlock>
    <div class="col-12 justify-content-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>
</article>
