.product-avatar {
    height: 400px;
}

@media (max-width: 720px) {
    .product-avatar {
        height: 300px;
    }
}

@media (max-width: 540px) {
    .product-avatar {
        height: 200px;
    }
}

.product-avatar img {
    height: 100%;
    width: auto;
    max-width: 100%;
}
